<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>To Do</title>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</head>
<body>
    <div class="root" id="root">
    {% block topBar %}
    <nav class="navbar sticky-top">
        <div class="container-fluid d-flex">
            <a href="{% url 'todo:todo-home' %}" class="navbar-brand justify-content-start">To Do</a>
            <form class="d-flex justify-content-center" method="post" action="" id="searchBar">
                {% csrf_token %}
                <input name="taskSearch" id="searchBarInput" class="form-control me-2" type="search" placeholder="Search" value="{{search_arg}}" aria-label="Search" onkeyup="search()">
                <button class="btn btn-outline-warning" name="searchSubmit" type="submit">Search</button>
            </form>
            <div class="p-0 m-0 justify-content-end dropstart">
                <a class="btn p-0 mx-0 my-auto" style="padding: 0rem" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle account-icon"></i></a>
                <!--i class="bi bi-person-circle account-icon justify-content-end"></!--i-->
                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                    <li><em class="dropdown-item">{{request.user}}</em></li>
                    <li><a class="dropdown-item" type="button" onclick="">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-danger" type="button" href="{% url 'logout' %}">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock topBar %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}    
    {% endif %}
    <div class="container-fluid p-0">
        <div class="pan d-inline-flex">
            <!--div class="sideBar">
            </!--div-->
            <div class="content">
                <div class="card m-auto mt-2" style="width: 96%;">
                    <div class="card-body p-0">
                        <form action="{% url 'todo:todo-add-task' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="task" class="form-control test" placeholder="Add a Task">
                            <div class="card-body lower-card row px-3" style="background: #f3f2f1;">
                                <div class="col-auto m-auto p-0 dropdown">
                                    <a class="btn col-auto p-0 m-auto" style="padding: 0rem" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-calendar-check m-auto"></i></a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><a class="dropdown-item" type="button" onclick="date_today()">Today</a></li>
                                      <li><a class="dropdown-item" type="button" onclick="date_tomorrow()">Tomorrow</a></li>
                                      <li><a class="dropdown-item" type="button" onclick="date_nextweek()">Next Week</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <input type="date" id="dp" class="form-control" name="due_date">
                                    </ul>
                                </div>
                                <span class="col"></span>
                                <button class="btn btn-success col-auto m-auto" type="submit">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--div class="dropstart p-0 m-auto" style="margin-right: 1rem;">
                    <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Due Date</a>
                        <a class="dropdown-item" href="#">Alphabetically</a>
                        <a class="dropdown-item" href="#">Completion</a>
                        <a class="dropdown-item" href="#">Creation Date</a>
                    </div>
                </!--div-->
                {% for task in tasks%}
                    {% with temp as task.id|add_strings='isCompleted' %}
                    <div class="card m-auto mt-2 mb-2" style="width: 96%;">
                        <div class="card-body row" style="padding: 0.5rem 1.75rem;">
                            <!--span style="width: auto; padding:0;">
                                <form action="{% url 'todo:todo-complete-task' task.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input name={{temp}} value={{task.id}} class="form-check-input" style="margin-right: 1rem;" type="submit">
                                </form>
                            </!span-->
                            {% if task.is_completed == False %}
                                <a href="{% url 'todo:todo-complete-task' task.id %}" class="btn col-auto p-0" style="margin-right: 1rem;"><i class="bi bi-check-circle"></i></a>
                                <p class="m-auto col-auto p-0">{{task.task}}</p>
                            {% else %}
                                <a href="{% url 'todo:todo-complete-task' task.id %}" class="btn col-auto p-0" style="margin-right: 1rem;"><i class="bi bi-check-circle" style="color: #28a745;"></i></a>
                                <s class="m-auto col-auto p-0">{{task.task}}</s>
                            {% endif %}
                            {% if task.due_date != None %}
                                <p class="m-auto col-auto px-2">{{task.due_date|date:"d M y"}}</p>
                            {% endif %}
                            <span class="col"></span>
                            <a class="btn col-auto p-0 m-auto trash_icon" style="padding: 0rem;" href="{% url 'todo:todo-delete-task' task.id %}"><i class="bi bi-trash m-auto"></i></a>
                        </div>
                    </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        dp = document.getElementById("dp");
        function date_today() {
            var today = new Date();
            var date = today.toISOString().substring(0,10);
            dp.value = date;
        }
        function search() {
            console.log("changed");
            form = document.getElementById("searchBar");
            form.submit();
        }
        function date_tomorrow() {
            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate()+1);
            var date = tomorrow.toISOString().substring(0,10);
            dp.value = date;
        }
        function date_nextweek() {
            var next_week = new Date();
            next_week.setDate(next_week.getDate()+7);
            var date = next_week.toISOString().substring(0,10);
            dp.value = date;
        }
    </script>
</body>
</html>
